header {
    background: rgba(47, 133, 78, 1);
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    
}

header nav ul li {
    margin: 0 30px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}