.news-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 20px;
}

.news-card {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.news-card img {
    width: 100%; 
    height: auto; 
    border-radius: 8px 8px 0 0; 
}

.news-card strong {
    display: block;
    font-weight: bold;
}

.news-card p {
    margin-top: 10px;
    font-size: 0.9em;
}

.read-more {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #eaf3ea;
    font-size: 0.8em;
}
